:root {
  --secondary-font: 'Raleway', sans-serif;
  --accent-color: #2196f3;
  --primary-color: #212121;
  --secondary-text-color: #757575;
  --title-text-color: #ffffff;
  --background-color: #2f303a;
  --widgets-link-background-color: #f5f4fa;
  --logo-studio: #000000;
  --mail-color: rgba(255, 255, 255, 0.6);
  --line: #ececec;
  --border-card-content: #eeeeee;
  --shadow-one: rgba(0, 0, 0, 0.12);
  --shadow-two: rgba(0, 0, 0, 0.14);
  --shadow-three: rgba(0, 0, 0, 0.2);
  --shadow-hero-button: rgba(0, 0, 0, 0.15);
  --hero-bg: #c4c4c4;
  --margin: 30px;
  --social-links: #afb1b8;
  --social-links-bg-f: rgba(255, 255, 255, 0.1);
  --box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  --box-shadow-pr: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
  --portfolio-wigets-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  --gradient-hero: rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4);
  --modal-button-border: rgba(0, 0, 0, 0.1);
  --portfolio-overlay-bg-color: rgba(33, 150, 243, 0.9);
  --job-img-overlay-bg-color: rgba(47, 48, 58, 0.8);
  --cubic: cubic-bezier(0.4, 0, 0.2, 1);
  --hero-button-hover-color: #188ce8;
  --form-border-color: rgba(33, 33, 33, 0.2);
  --textaria-text-color: rgba(117, 117, 117, 0.5);
  --modal-form-btn-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

body {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  color: var(--primary-color);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
  max-width: 100%;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
  color: inherit;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.header {
  background-color: var(--title-text-color);
  border-bottom: 1px solid var(--line);
}

.header-container {
  display: flex;
  align-items: center;
}

.header-nav {
  display: flex;
  align-items: center;
}

.menu {
  display: flex;
  align-items: center;
}

.menu-link-contacts {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.mail-button {
  margin-right: 50px;
}

.link-logo {
  font-family: inherit;
  font-style: inherit;
  font-weight: 700;
  font-family: var(--secondary-font);
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--accent-color);
}

.header-nav .link-logo {
  margin-right: 93px;
}

.menu-link-list:not(:last-child) {
  margin-right: 50px;
}

.studio {
  color: var(--logo-studio);
}

.studio-footer {
  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}

.menu-link,
.header-button,
.tel-link-header {
  display: inline-block;
  padding-top: 32px;
  padding-bottom: 32px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  transition: color 250ms var(--cubic);
}

.menu-link:visited {
  color: var(--primary-color);
}

.menu-link:hover,
.menu-link:focus {
  color: var(--accent-color);
}

.menu-link.active-link {
  color: var(--accent-color);
}

.menu-link {
  position: relative;
}

.active-link::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -1.5px;
  display: block;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--accent-color);
}

.menu-icons {
  margin-right: 10px;
}

.header-button {
  display: flex;
  align-items: center;
}

.tel-link-header {
  display: flex;
  align-items: center;
}

.header-button,
.tel-link-header {
  color: var(--secondary-text-color);
}

.menu-icons {
  fill: var(--secondary-text-color);
  transition: fill 250ms var(--cubic);
}

.header-button:hover,
.header-button:focus {
  color: var(--accent-color);
}

.header-button:hover .menu-icons,
.header-button:focus .menu-icons {
  fill: var(--accent-color);
}

.tel-link-header:hover,
.tel-link-header:focus {
  color: var(--accent-color);
}

.tel-link-header:hover .menu-icons,
.tel-link-header:focus .menu-icons {
  fill: var(--accent-color);
}

.hero {
  background-color: var(--hero-bg);
  text-align: center;
  padding-top: 200px;
  padding-bottom: 200px;
}

.overlay {
  height: 600px;
  width: 1600px;
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(var(--gradient-hero)), url("../images/hero/Img.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.hero .container {
  width: 696px;
}

.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  margin-bottom: 30px;
  color: var(--title-text-color);
}

.modal-btn {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  display: inline-block;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  cursor: pointer;
  color: var(--title-text-color);
  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px var(--shadow-hero-button);
  border-radius: 4px;
  padding-left: 32px;
  padding-right: 32px;
  padding-top: 10px;
  padding-bottom: 10px;
  border: none;
  transition: background-color 1000ms var(--cubic), box-shadow 250ms var(--cubic);
}

.modal-btn:hover,
.modal-btn:focus {
  background-color: var(--hero-button-hover-color);
  box-shadow: var(--shadow-hero-button);
}

.advantages-list {
  display: flex;
  flex-wrap: wrap;
  margin-top: calc(-1 * var(--margin));
  margin-left: calc(-1 * var(--margin));
}

.advantages-list-points {
  /* width: 270px; */
  flex-basis: calc((100% - 4 * var(--margin)) / 4);
  margin-top: var(--margin);
  margin-left: var(--margin);
}

.advantages-title-points {
  font-weight: 700;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.advantages-cards {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 270px;
  height: 120px;
  background-color: var(--widgets-link-background-color);
  margin-bottom: var(--margin);
}

.advantages-cards-icon {
  width: 70px;
  height: 70px;
}

.advantages-text {
  line-height: 1.71;
  /* or 171% */
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
}

.our-job {
  padding-top: 0;
}

.our-job-list,
.our-team-list {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
}

.our-job-list {
  margin-bottom: 50px;
}

.job-icons {
  display: flex;
  flex-wrap: wrap;
  margin-top: calc(-1 * var(--margin));
  margin-left: calc(-1 * var(--margin));
}

.job-images {
  flex-basis: calc((100% - 3 * var(--margin)) / 3);
  margin-top: var(--margin);
  margin-left: var(--margin);
}

.job-images-box {
  position: relative;
}

.job-images-overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 370px;
  height: 70px;
  padding: 27px;
  font-weight: 700;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--title-text-color);
  background-color: var(--job-img-overlay-bg-color);
}

.our-team {
  background-color: var(--widgets-link-background-color);
}

.our-team-name,
.our-team-specialty {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  /* identical to box height */
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 10px;
}

.our-team-specialty {
  font-weight: 400;
  letter-spacing: 0.03em;
  margin-bottom: 16px;
  color: var(--secondary-text-color);
}

.our-team-list {
  margin-bottom: 50px;
}

.our-team-blocks {
  display: flex;
  flex-wrap: wrap;
  margin-top: calc(-1 * var(--margin));
  margin-left: calc(-1 * var(--margin));
}

.our-team-persons-wrapper {
  flex-basis: calc(100% / 4 - 30px);
  margin-top: var(--margin);
  margin-left: var(--margin);
  background: var(--title-text-color);
  /* material shadow v1 */
  box-shadow: var(--box-shadow);
}

.our-team-thumb {
  padding: 30px;
}

.social-link-list {
  display: flex;
}

.social-link-item:not(:last-child) {
  margin-right: 10px;
}

.social-link-item {
  width: 44px;
  height: 44px;
}

.social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: var(--title-text-color);
  transition: background-color 250ms var(--cubic);
}

.social-link:hover,
.social-link:focus {
  background-color: var(--accent-color);
}

.social-link:hover .social-link-icon,
.social-link:focus .social-link-icon {
  fill: var(--title-text-color);
}

.social-link-icon {
  width: 20px;
  height: 20px;
  fill: var(--social-links);
  transition: fill 250ms var(--cubic);
}

.clients-list {
  display: flex;
  margin-top: calc(-1 * var(--margin));
  margin-left: calc(-1 * var(--margin));
}

.clients-list-items {
  flex-basis: calc(100% / 4 - 30px);
  margin-top: var(--margin);
  margin-left: var(--margin);
}

.clients-links {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 92px;
  border: 1px solid var(--social-links);
  border-radius: 4px;
  transition: border 250ms var(--cubic);
}

.clients-links-icons {
  fill: var(--social-links);
  transition: fill 250ms var(--cubic);
}

.clients-links:hover,
.clients-links:focus {
  border: 1px solid var(--accent-color);
  border-radius: 4px;
}

.clients-links:hover .clients-links-icons,
.clients-links:focus .clients-links-icons {
  fill: var(--accent-color);
}

.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--background-color);
}

.adress-title {
  font-style: inherit;
  margin-top: 20px;
}

.adress-link {
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
  transition: color 250ms var(--cubic);
}

.adress-list-link:not(:last-child) {
  margin-bottom: 9px;
}

.mail,
.tel {
  color: var(--mail-color);
}

.adress-link:hover,
.adress-link:focus {
  color: var(--accent-color);
}

.social-link-list {
  justify-content: center;
}

.social-link {
  background-color: var(--social-links-bg-f);
}

.social-link-icon.f-link-color {
  fill: var(--title-text-color);
}

.position {
  display: flex;
  align-items: baseline;
}

.footer-contacts {
  margin-right: 83px;
}

.join {
  font-weight: 700;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--title-text-color);
  margin-bottom: 20px;
}

.social-link-item:not(:last-child) {
  margin-right: 10px;
}

.footer-form-btn {
  display: flex;
  align-items: center;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: var(--title-text-color);
  box-shadow: var(--modal-form-btn-shadow);
  background-color: var(--accent-color);
  border-radius: 4px;
  border: none;
  padding: 10px 29px;
  cursor: pointer;
  margin-left: 12px;
}

.send-icon {
  height: 24px;
  width: 24px;
  margin-left: 10px;
}

.footer-form-input {
  display: block;
  height: 50px;
  width: 358px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: transparent;
  color: var(--title-text-color);
  padding-left: 16px;
}

.footer-form-input::placeholder {
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: var(--mail-color);
}

.footer-form-title {
  font-weight: 700;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--title-text-color);
  margin-bottom: 20px;
}

.footer-form-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-form {
  margin-left: 93px;
}

.wigets {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.widgets-item:not(:last-child) {
  margin-right: 8px;
}

.wigets-link {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  text-align: center;
  letter-spacing: 0.03em;
  background-color: var(--widgets-link-background-color);
  border-radius: 4px;
  cursor: pointer;
  padding-left: 22px;
  padding-right: 22px;
  padding-top: 6px;
  padding-bottom: 6px;
  border: none;
  transition: color 250ms var(--cubic), background-color 250ms var(--cubic), box-shadow 250ms var(--cubic);
}

.wigets-link:hover,
.wigets-link:focus {
  background-color: var(--accent-color);
  color: var(--title-text-color);
  box-shadow: var(--portfolio-wigets-shadow);
}

.card-content {
  padding: 20px 24px;
  background: var(--title-text-color);
  border-right: 1px solid var(--border-card-content);
  border-bottom: 1px solid var(--border-card-content);
  border-left: 1px solid var(--border-card-content);
}

.projects-list {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  margin-bottom: 4px;
}

.projects-links,
.projects-links:visited {
  color: var(--primary-color);
}

.projects {
  display: flex;
  flex-wrap: wrap;
  margin-top: calc(-1 * var(--margin));
  margin-left: calc(-1 * var(--margin));
}

.projects-blocks {
  flex-basis: calc(100% / 3 - var(--margin));
  margin-top: var(--margin);
  margin-left: var(--margin);
}

.projects-title {
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
}

.portfolio-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 63px 24px;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  background-color: var(--portfolio-overlay-bg-color);
  color: var(--title-text-color);
  overflow: auto;
  transform: translateY(100%);
  transition: transform 250ms var(--cubic);
}

.portfolio-overlay-wrapper {
  position: relative;
  overflow: hidden;
}

.projects-links:hover .portfolio-overlay,
.projects-links:focus .portfolio-overlay {
  transform: translateY(0%);
}

.projects-links {
  display: block;
  transition: box-shadow 250ms var(--cubic);
}

.projects-links:hover,
.projects-links:focus {
  box-shadow: var(--box-shadow-pr);
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: var(--shadow-three);
  transition: opacity 250ms var(--cubic), visibility 250ms var(--cubic);
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 528px;
  height: 581px;
  background-color: var(--title-text-color);
  box-shadow: var(--box-shadow);
  border-radius: 4px;
  transform: translate(-50%, -50%);
  padding: 40px;
}

.close-btn {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid var(--modal-button-border);
  background-color: transparent;
  cursor: pointer;
  padding: 0;
}

.close-vector {
  width: 11px;
  height: 11px;
  fill: var(--logo-studio);
  transition: fill 250ms var(--cubic);
}

.close-btn:focus .close-vector,
.close-btn:hover .close-vector {
  fill: var(--accent-color);
}

.modal-form-field {
  display: block;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--secondary-text-color);
  margin-bottom: 10px;
}

.indent {
  margin-bottom: 20px;
}

.modal-form-head {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primary-color);
  margin-bottom: 12px;
}

.modal-form-input {
  width: 100%;
  height: 40px;
  border: 1px solid var(--form-border-color);
  border-radius: 4px;
  padding-left: 42px;
  transition: border-color 250ms var(--cubic);
  margin-top: 4px;
}

.modal-form-input:hover,
.modal-form-input:focus {
  border-color: var(--accent-color);
}

.modal-form-input:hover + .form-input-icon,
.modal-form-input:focus + .form-input-icon {
  fill: var(--accent-color);
}

.modal-form-input-wrapper {
  position: relative;
}

.form-input-icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 12px;
  height: 18px;
  width: 18px;
  fill: var(--primary-color);
  transition: fill 250ms var(--cubic);
}

.form-input-icon:hover,
.form-input-icon:focus {
  fill: var(--accent-color);
}

.modal-form-message {
  width: 100%;
  height: 120px;
  margin-top: 4px;
  border: 1px solid var(--form-border-color);
  border-radius: 4px;
  padding: 12px 16px;
  resize: none;
  transition: border-color 250ms var(--cubic);
}

.modal-form-message::placeholder {
  color: var(--textaria-text-color);
}

.modal-form-message:hover,
.modal-form-message:focus {
  border-color: var(--accent-color);
}

.modal-form-label-link {
  position: relative;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--accent-color);
}

.modal-form-label-link::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 6px;
  display: block;
  width: 100%;
  height: 0.1px;
  background-color: var(--accent-color);
}

.modal-form-btn {
  display: block;
  margin: 0 auto;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--title-text-color);
  background-color: var(--accent-color);
  box-shadow: var(--modal-form-btn-shadow);
  border-radius: 4px;
  cursor: pointer;
  padding: 10px 56px;
  border: none;
  transition: background-color 250ms var(--cubic), box-shadow 250ms var(--cubic);
}

.modal-form-btn:hover,
.modal-form-btn:focus {
  background-color: var(--hero-button-hover-color);
  box-shadow: var(--modal-form-btn-shadow);
}

.modal-form-checkbox-label {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
  margin-bottom: 30px;
}

.modal-form-checkbox:checked + .modal-form-checkbox-label::before {
  background-image: url("../images/check.svg");
  border: none;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.modal-form-checkbox-label::before {
  display: block;
  content: '';
  width: 16px;
  height: 15px;
  border: 2px solid var(--primary-color);
  border-radius: 2px;
  cursor: pointer;
  margin-right: 10px;
}

.modal-form-checkbox:hover + .modal-form-checkbox-label::before,
.modal-form-checkbox:focus + .modal-form-checkbox-label::before {
  outline: 2px solid var(--accent-color);
}
/*# sourceMappingURL=main.css.map */