.social-link-list {
  justify-content: center;
}

.social-link {
  background-color: var(--social-links-bg-f);
}

.social-link-list__icon.f-link-color {
  fill: var(--title-text-color);
}

.position {
  display: flex;
  align-items: baseline;
}

.social-link-list__item:not(:last-child) {
  margin-right: 10px;
}
