.clients-list {
  display: flex;
  margin-top: calc(-1 * var(--margin));
  margin-left: calc(-1 * var(--margin));
}

.clients-list-items {
  flex-basis: calc(100% / 4 - 30px);
  margin-top: var(--margin);
  margin-left: var(--margin);
}

.clients-links {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 92px;
  border: 1px solid var(--social-links);
  border-radius: 4px;
  transition: border 250ms var(--cubic);
}

.clients-links-icons {
  fill: var(--social-links);
  transition: fill 250ms var(--cubic);
}

.clients-links:hover,
.clients-links:focus {
  border: 1px solid var(--accent-color);
  border-radius: 4px;
}

.clients-links:hover .clients-links-icons,
.clients-links:focus .clients-links-icons {
  fill: var(--accent-color);
}
