.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--background-color);
}

.adress-title {
  font-style: inherit;
  margin-top: 20px;
}

.adress-link {
  line-height: 1.71;
  letter-spacing: 0.03em;

  color: var(--title-text-color);
  transition: color 250ms var(--cubic);

  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

.adress-list-link:not(:last-child) {
  margin-bottom: 9px;
}

.mail,
.tel {
  color: var(--mail-color);
}

.social-link-list {
  justify-content: center;
}

.social-link {
  background-color: var(--social-links-bg-f);
}

.social-link-icon.f-link-color {
  fill: var(--title-text-color);
}

.position {
  display: flex;
  align-items: baseline;
}

.footer-contacts {
  margin-right: 83px;
}

.join {
  font-weight: 700;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--title-text-color);
  margin-bottom: 20px;
}

.social-link-item:not(:last-child) {
  margin-right: 10px;
}
